<%= turbo_stream.update "form_document_record_content_frame_#{@institution.id}" do %>
  <div data-controller="load-flowbite">
    <%= render Alert::Component.new(title: flash.now[:notice]) %>
  </div>
  <form class="p-4 md:p-5" action=<%= document_records_path %> method="post" data-turbo="true" data-turbo-frame="form_document_record_content_frame">
    <% form_info = { institution: @institution } %>
    <%= render 'document_records/form', form_info: form_info %>
  </form>
<% end %>
