<%= turbo_stream.update "form_document_record_content_frame_#{@institution.id}" do %>
  <div data-controller="load-flowbite">
    <%= render Alert::Component.new(title: flash.now[:notice]) %>
  </div>
  <%= render 'document_records/form', institution:  @institution %>
<% end %>
